@import url(https://fonts.googleapis.com/css2?family=Acme&family=Leckerli+One&family=Nerko+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Acme&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Leckerli+One&family=Nerko+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.head {
    margin-top: 40px;
}

.headname {
    padding: 10px;
    margin-left: 20px;
    background-color: #333333;
    color: aliceblue;
    font-family: Leckerli One;
    font-size: 16pt;
    border-radius: 2px;
}

.contact {
    float: right;
    padding:10px;
    margin-right: 20px;
    position: relative;
    bottom: 10px;
    font-family: Leckerli One;
    font-size: 16pt;
}

.dropdown {
    opacity: 0;
    visibility: hidden;
}

.bar:hover .dropdown{
    opacity: 1;
    visibility: visible;
}

.colorbar {
    color: #333333;
}

.flexbox_main {
    display: flex;
    box-sizing: border-box;
    margin: 50px;
    margin-top: 80px;
}

#mainpic {
    display: block;
    box-sizing: border-box;
    width: 30%;
}

.maininfor {
    display: block;
    box-sizing: border-box;
    margin-left: 80px;
    width: 70%;
    margin-top: 40px;
}

.name {
    font-size: 28pt ;
    font-family: Libre Baskerville;
}
.ser {
    position: relative;
    left: 100px;   
    font-size: 28pt ;
    font-family: Libre Baskerville;
}

.aboutme {
    position: relative;
    left: 300px;
    font-size: 16pt;
    margin-top: 20px;
    color: #333333;
}

.infor_aboutme {
    position: relative;
    left: 50px;
    margin: 40px;
    font-size: 16pt;
}

.infor {
    position: relative;
    top: 20px;
    left: 30px;
    margin: 30px;
    font-size: 16pt;
}

.text {
    margin-top: 5px;
}

.colortext {
    font-weight: bolder;
    color: #00208b;
    font-family: Libre Baskerville;
}

.flexbox2 {
    display: flex;
}

.contactmain {
    position: relative;
    top: 20px;
    left: 180px;
    margin: 30px;
    
}

.contacttext {
    color: black;
    padding: 8px;
    border-radius: 2px;
    font-weight: bolder;
    font-family: Libre Baskerville;
    font-size: 16pt;
    text-decoration: underline;
}


.Instagram {
    position: relative;
    right: 60px;
    margin-top: 20px;
    font-size: 14pt;
    background-color: #333333;
    color:aliceblue;
    padding: 10px;
    border-radius: 5px;
}
.colorig {
    background-color: #333333;
    color:aliceblue;
}

.Gmail {
    position: relative;
    right: 60px;
    margin-top: 14px;
    background-color: #333333;
    color:aliceblue;
    padding: 10px;
    border-radius: 5px;
}
